.custom-menu {
    height: 100vh;
    transition: height 0.3s ease-in-out;
}

/* Đặt @media query bên ngoài */
@media (max-width: 768px) {
    .custom-menu {
        height: 100%;
        width: 100%;
    }
}

/* Code này đúng */
.align-top td {
    vertical-align: top !important;
}
